.quizContent {
  position: absolute;
  top: 130px;
  left: 32px;
  display: flex;
  border-radius: 30px;
  width: 762px;
  height: 450px;
  box-shadow: 0px 0px 20px 20px rgba(113, 129, 109, 0.20);
  overflow: hidden;

  #quizNavigation {
    display: flex;
    flex-direction: column;
    width: 50px;
    z-index: 2;
  
    
    .quizNavigationElement {
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      border-radius: 10px 0 0 10px;
      position: relative;
    }

    .quizNavigationElement:first-child {
          min-height: 50px !important;
    }
      
    
    .quizNavigationElement.active {
      background-color: #fff;
      
      p {
        color: #7fa038;
        font-weight: 800;
        transform: scale(1.5);
        
      }
    
    }

    .quizNavigationElement:hover {

      p {
        transform: scale(1.5);
        transition: transform 1s;
      }

      img {
        transform: scale(1.2);
        transition: transform 1s;
      }
    }

    .quizNavigationElement:not(:last-child) {
      border-bottom: 3px solid #566a2b;
    }
    
  }
  .quiz {
    box-shadow: 0px 0px 20px 20px rgba(113, 129, 109, 0.20);
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  #exit_icon {
    margin-top: 8px;
    margin-left: -3px;
  }

  #exit_icon:hover {
    transform: scale(1.1);
    transition: transform 1s;
  }
}

[data-title]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.5s;
  visibility: visible;
}
[data-title]:after {
  content: attr(data-title);
  background-color: #7fa038;
  color: #fff;
  font-size: 14px;
  position: absolute;
  padding: 1px 5px 2px 5px;
  bottom: -1.6em;
  left: 100%;
  white-space: nowrap;
  box-shadow: 5px 5px 9px #566a2b;
  opacity: 0;
  border: 2px solid #566a2b;
  z-index: 99999;
  visibility: hidden;
  border-radius: 5px;
}
[data-title] {
  position: relative;
}

.hideExitIcon #exit_icon:hover  {
  transform: none !important;
  /* weitere Hover-Effekte hier zurücksetzen */
}

@keyframes cursor-pulse {
  0% { transform: translate(-50%, -50%) scale(1); } /* Ursprüngliche Position */
  50% { transform: translate(-50%, -100%) scale(1.2); } /* Pfeil nach unten */
  100% { transform: translate(-50%, -50%) scale(1); } /* Zurück zur Ursprungsposition */
}
