/*////////////////////////////////////////////// Situation selection Buttons */

.situation-box {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    .situation-toggle {
      width: 100%;
      height: 100%;
      display: flex;
      border-radius: var(--border-radius-standard);
      border: 1px solid var(--rahmen);
      display: flex;
      overflow: hidden;
      background-color: #fff;
      button {
        flex: 1;
        align-self: center;
        height: 36px;
        font-size: 12px;
        cursor: pointer;
        border: none;
        background-color: white;
        color: var(--neutral-text);
        padding: 0;
        transition: 
          background-color 0.3s ease,
          color            0.3s ease,
          border-radius    0.3s ease;
      }
      .active {
        background-color: var(--primary);
        color: white;
        border-radius: 6px;
      }
    }
  }